<h2>Reporter output</h2><table><tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">Project Data Creation</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:21:38 226 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:21:43 363 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Username: arc.fa.test@gmail.com has been entered in Username text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: Hello@123 has been entered in Password text box.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:21:43 808 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #btnLogin]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;LogIn button clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Checking feedback alert is there or not : 0</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:22:26 100 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #add-project]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button is clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Name has been entered as .Project_247599</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Number has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project description has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project start date has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Site Address has been entered.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:22:33 035 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #txtCountry]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Country has been selected.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:22:39 619 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .State-Item[data-name='alabama']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;State has been selected.</div></td></tr>
<tr><td><div class="test-message">&emsp;City has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Zip has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button has been clicked.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:22:47 089 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .noty_text]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Project created successfully</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:23:01 990 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #isAutoHyperlinkEnabled]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on enable auto hyperlink checkbox.</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on save button of project settings window.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Created Successfully with name : Project_247599</div></td></tr>
<tr><td><div class="test-message">&emsp;DashBoard Clicked Sucessfully : </div></td></tr>
<tr><td><div class="test-message">&emsp;Create project #0</div></td></tr>
<tr><td><div class="test-message">&emsp;Create project name:Project_247599</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:23:52 015 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #add-project]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button is clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Name has been entered as .Project_192350</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Number has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project description has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project start date has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Site Address has been entered.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:23:58 932 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #txtCountry]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Country has been selected.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:24:05 462 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .State-Item[data-name='alabama']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;State has been selected.</div></td></tr>
<tr><td><div class="test-message">&emsp;City has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Zip has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button has been clicked.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:24:12 908 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .noty_text]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Project created successfully</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:24:25 912 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #isAutoHyperlinkEnabled]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on enable auto hyperlink checkbox.</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on save button of project settings window.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Created Successfully with name : Project_192350</div></td></tr>
<tr><td><div class="test-message">&emsp;DashBoard Clicked Sucessfully : </div></td></tr>
<tr><td><div class="test-message">&emsp;Create project #1</div></td></tr>
<tr><td><div class="test-message">&emsp;Create project name:Project_192350</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:25:15 961 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #add-project]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button is clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Name has been entered as .Project_278728</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Number has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project description has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project start date has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Site Address has been entered.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:25:22 832 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #txtCountry]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Country has been selected.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:25:29 321 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .State-Item[data-name='alabama']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;State has been selected.</div></td></tr>
<tr><td><div class="test-message">&emsp;City has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Zip has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button has been clicked.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:25:36 666 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .noty_text]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Project created successfully</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:25:49 556 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #isAutoHyperlinkEnabled]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on enable auto hyperlink checkbox.</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on save button of project settings window.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Created Successfully with name : Project_278728</div></td></tr>
<tr><td><div class="test-message">&emsp;DashBoard Clicked Sucessfully : </div></td></tr>
<tr><td><div class="test-message">&emsp;Create project #2</div></td></tr>
<tr><td><div class="test-message">&emsp;Create project name:Project_278728</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:26:44 867 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #add-project]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button is clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Name has been entered as .Project_118250</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Number has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project description has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project start date has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Site Address has been entered.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:26:51 886 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #txtCountry]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Country has been selected.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:26:58 443 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .State-Item[data-name='alabama']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;State has been selected.</div></td></tr>
<tr><td><div class="test-message">&emsp;City has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Zip has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button has been clicked.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:27:05 888 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .noty_text]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Project created successfully</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:27:18 154 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #isAutoHyperlinkEnabled]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on enable auto hyperlink checkbox.</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on save button of project settings window.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Created Successfully with name : Project_118250</div></td></tr>
<tr><td><div class="test-message">&emsp;DashBoard Clicked Sucessfully : </div></td></tr>
<tr><td><div class="test-message">&emsp;Create project #3</div></td></tr>
<tr><td><div class="test-message">&emsp;Create project name:Project_118250</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:28:07 910 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #add-project]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button is clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Name has been entered as .Project_252841</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Number has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project description has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project start date has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Site Address has been entered.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:28:14 874 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #txtCountry]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Country has been selected.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:28:21 355 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .State-Item[data-name='alabama']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;State has been selected.</div></td></tr>
<tr><td><div class="test-message">&emsp;City has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Zip has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button has been clicked.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:28:28 770 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .noty_text]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Project created successfully</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:28:42 031 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #isAutoHyperlinkEnabled]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on enable auto hyperlink checkbox.</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on save button of project settings window.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Created Successfully with name : Project_252841</div></td></tr>
<tr><td><div class="test-message">&emsp;DashBoard Clicked Sucessfully : </div></td></tr>
<tr><td><div class="test-message">&emsp;Create project #4</div></td></tr>
<tr><td><div class="test-message">&emsp;Create project name:Project_252841</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:29:32 055 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #add-project]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button is clicked.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Name has been entered as .Project_229809</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Number has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project description has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project start date has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Site Address has been entered.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:29:38 993 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #txtCountry]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Country has been selected.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:29:45 484 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .State-Item[data-name='alabama']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;State has been selected.</div></td></tr>
<tr><td><div class="test-message">&emsp;City has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Zip has been entered.</div></td></tr>
<tr><td><div class="test-message">&emsp;Create Project button has been clicked.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:29:52 911 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: .noty_text]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Project created successfully</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 13 Mar 19:30:06 011 - Element is displayed:: [[ChromeDriver: chrome on XP (9e463b6d074b47fdc91067e5ef4594aa)] -> css selector: #isAutoHyperlinkEnabled]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on enable auto hyperlink checkbox.</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on save button of project settings window.</div></td></tr>
<tr><td><div class="test-message">&emsp;Project Created Successfully with name : Project_229809</div></td></tr>
<tr><td><div class="test-message">&emsp;DashBoard Clicked Sucessfully : </div></td></tr>
<tr><td><div class="test-message">&emsp;Create project #5</div></td></tr>
<tr><td><div class="test-message">&emsp;Create project name:Project_229809</div></td></tr>
</table>